[submodule "libft"]
	path = libft
	url = git@github.com:Gusalimi/libft.git
[submodule "libft_enhanced"]
	path = libft_enhanced
	url = git@github.com:Gusalimi/libft_enhanced.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:Gusalimi/ft_printf
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:Gusalimi/get_next_line.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:Gusalimi/so_long.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:Gusalimi/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:Gusalimi/minitalk.git
[submodule "philosophers"]
	path = philosophers
	url = git@github.com:Gusalimi/philosophers.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:Gusalimi/minishell.git
[submodule "NetPractice"]
	path = NetPractice
	url = git@github.com:Gusalimi/NetPractice.git
[submodule "CPP42"]
	path = CPP42
	url = git@github.com:Gusalimi/CPP42.git
